<h1>Login</h1>

<form action='/session' method='post' class="form form-horizontal col-md-8" >
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div class="form-group">
    <label for="session_user_name" class="form-label col-md-2">Username</label>
    <div class="col-md-6">
      <input type='text' name='session[user_name]' id="session_user_name" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <label for="session_password" class="form-label col-md-2">Password</label>
    <div class="col-md-6">
      <input type='password' name='session[password]' class="form-control" id="session_password" >
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-md-6 col-md-offset-2">
      <input type='submit' value='Login' class="btn btn-default" >
    </div>
  </div>
</form>
