<div class="jumbotron">
  <div class="container">

    <h1>Sign Up</h1>

    <form action='/users' method='post' class="form form-horizontal col-md-8" >
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <div class="form-group">
        <label for="user_email" class="form-label col-md-2">Email</label>
        <div class="col-md-6">
          <input type='email' name='user[email]' id="user_email" class="form-control" placeholder="Email Address">
        </div>
      </div>

      <div class="form-group">
        <label for="user_password" class="form-label col-md-2">Password</label>
        <div class="col-md-6">
          <input type='password' name='user[password]' class="form-control" id="user_password" placeholder="Password">
        </div>
      </div>

    <div class="form-group">
      <div class="col-md-6 col-md-offset-2">
        <input type='submit' value='Sign Up' class="btn btn-default" >
      </div>
    </div>
    </form>
  </div>

</div>
