<h1>New Goal</h1>

<form id="form_id" action="<%= goals_path %>" method="post">
  <%= authenticity_input %>
  <input type="text" name="goal[title]" value="" id="title">
  <% Goal::GOAL_TYPES.each do |goal_type| %>
  <label>
    <%= goal_type %>
    <input type="radio" name="goal[goal_type]" value="<%= goal_type %>" id="goal_type">
  </label>
  <% end %>
  <input type="submit" value="Create Goal">
</form>
