<div class="page-header">
  <h1>All Bands</h1>
</div>

<div class="row">
  <% @bands.each do |band| %>
  <div class="col-sm-3 col-md-3">
    <a href="<%= band_path(band) %>">
    <div class="thumbnail">
      <img src="http://placehold.it/175x175" alt="...">
      <div class="caption text-center">
        <h5><%= band.name %></h5></p>
      </div>
    </div></a>
  </div>
  <% end %>
</div>


<%= link_to 'New Band', new_band_path, class: "btn btn-success" %>
