<div class="container">

  <h1 class="page-header">New Band</h1>

  <div class="row">
    <%= render 'form', band: @band %>
  </div>
  <div class="row">
    <%= link_to 'Back', bands_path %>
  </div>
</div>
