<h1>Journal App
<a href="#/posts/new" class="btn btn-primary pull-right">New Post</a>
</h1>
<hr>
<div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-3 sidebar">
    </div>

    <div class="col-sm-7 col-md-7 content">
    </div>
  </div>
</div>
