<h3><span class="editable" name="title"><%= post.escape("title") %></span></h3>
<p><span class="editable" name="body">
  <%= post.escape("body") %>
</span>
</p>
<!-- <a href="/">Back</a> -->
<button class="delete btn btn-danger">Delete</button>
